spring:
  application:
    name: insurance-policies
  profiles:
    active: local
  config:
    import: "optional:configserver:http://localhost:8888"
management:
  endpoints:
    web:
      exposure:
        include: health,info,env,refresh
